{{> header }}
<body id="page-top">
    <div id="wrapper">
        {{> sidebarRepartidor}}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                {{> topbar}}
                <div class="container-fluid">
                <!-- Page Heading -->
                    <!-- DataTales Example -->
                     {{#if resumen}}
                     <h3 class="m-0 font-weight-bold text-primary">Cliente: {{cli}}</h3>
                     <h3 class="m-0 font-weight-bold text-primary">Teléfono: {{tel}}</h3>
                        <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Detalles del Pedido: {{codigo}} </h6>
                            <h6 class="m-0 font-weight-bold text-primary">Da click a continuación para iniciar el pedido: <button class="btn btn-primary btn-circle"><a  data-toggle="modal" data-target="#exampleModal"><i class="fas fa-stopwatch"></i> </a></button> </h6> 
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Producto</th>                    
                                            <th class="text-center">Cantidad</th>
                                            <th class="text-center">Total Producto</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each resumen}}
                                        <tr>
                                            <th class="text-center">{{this.nombre_prod}}</th>
                                            <th class="text-center">{{this.cantidad}}</th>
                                            <th class="text-center">{{this.total}}</th>
                                        </tr>
                                        {{/each}}
                                                                              
                                    </tbody>
                                </table>
                            </div>
                            <h5 class="m-0 font-weight-bold text-primary">Total Pedido: ${{a_pagar}}</h5>
                            <h5 class="m-0 font-weight-bold text-primary"> Registrar Pago: </h5>
                            <form action="/pagos" method="post"><input type="text" name="id" value="{{codigo}}" style="display:none;"><button type="submit" class="btn btn-primary btn-circle"><i class="fas fa-money-bill-wave"></i></button></form>
                        </div>
                    </div>
                     {{else}}
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Lista de Pedidos</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Código Pedido</th>                    
                                            <th class="text-center">Fecha de Entrega</th>
                                            <th class="text-center">Dirección</th>
                                            <th class="text-center">Detalles</th>
                                            <th class="text-center">Registrar Pago</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each codped}}                                        
                                        <tr>
                                        {{#if (or
                                            (eq this.estado "No entregado")  
                                            (eq this.estado "Pedido Registrado")
                                            (eq this.estado "Conductor Asignado")
                                            )
                                            }}
                                            <th class="text-center">{{this.cod_ped}}</th>
                                            <th class="text-center">{{this.fecha_entrega}}</th>
                                            <th class="text-center">{{this.calle_principal}} y {{this.calle_secundaria}} </th>
                                            <th class="text-center"><form action="/listaPedidos" method="post"><input type="text" name="id" value="{{this.cod_ped}}" style="display:none;"><button type="submit" class="btn btn-primary btn-circle"><i class="fas fa-box-open"></i></button></form></th> 
                                            <th class="text-center"><form action="/pagos" method="post"><input type="text" name="id" value="{{this.cod_ped}}" style="display:none;"><button type="submit" class="btn btn-primary btn-circle"><i class="fas fa-money-bill-wave"></i></button></form></th>
                                        {{/if}} 
                                        </tr>
                                        {{/each}}
                                                                              
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                     {{/if}}                    

            </div>
            </div>

            
        {{> footer}}   
        </div>
    </div>

    {{> modalSalir}}    {{> modalAceptar}}   
    
<!-- Bootstrap core JavaScript-->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="assets/js/sb-admin-2.min.js"></script>

</body>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {{#if alert}}
        <script>
        Swal.fire({
            title: '{{alertTitle}}',
            text: '{{alertMessage}}',
            icon: '{{icon}}',
            showConfirmButton: '{{showConfirmButton}}',
            timer: '{{timer}}'
        }).then(()=>{
            window.location = '/{{ruta}}'
        })
    </script>
    {{/if}}
</html>

