{{> header }}
<body id="page-top">
    <div id="wrapper">

        {{#ifEquals tipo "3"}} {{> sidebarRepartidor}} {{/ifEquals}} {{#ifEquals tipo "1"}} {{> sidebarAdmin}} {{/ifEquals}}   
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                {{> topbar}}
                <div class="container-fluid">

                <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Registrar Pagos</h1>
                    <h3 class="h3 mb-4 text-gray-800">Pedido: {{codigo}} </h3>
                    <hr>
                    <form class="user text-center" action="regpago" method="POST">
                        <div class="row" align="center">
                            <div class="col-sm-12 col-lg-6">
                                {{#ifEquals tipo "3"}}
                                 <div class="form-group">
                                    <label class="form-check-label">Total a Pagar ($) :</label>
                                    <input type="number" class="form-control" name="total" value="{{a_pagar}}" readonly>
                                </div>
                                {{else}}
                                <div class="form-group">
                                    <label class="form-check-label">Saldo a Pagar ($) :</label>
                                    <input type="number" class="form-control" name="total" value="{{saldo}}" readonly>
                                </div>
                                {{/ifEquals}}
                        <div class="form-group">
                            <select class="form-control" style="border-radius: 10rem" name="forma" required>
                                <option selected>Método de Pago...</option>
                                <option>Efectivo</option>
                                <option>Transferencia</option>
                            </select>
                        </div> 
                        {{#ifEquals tipo "3"}}      
                        <div class="form-group">
                            <select class="form-control" style="border-radius: 10rem" name="tipo" required>
                                <option selected>Tipo de Pago...</option>
                                <option>Al Contado</option>
                                <option>Por Cuotas</option>
                            </select>
                        </div>
                        {{else}}
                         <div class="form-group">
                            <select class="form-control" style="border-radius: 10rem" name="tipo" hidden>
                                <option>Tipo de Pago...</option>
                                <option>Al Contado</option>
                                <option selected>Por Cuotas</option>
                            </select>
                        </div>

                        {{/ifEquals}}
                                 {{#ifEquals tipo "3"}}
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Monto del pago Recibido..." name="monto"required min="1" max="{{a_pagar}}" id="monto">
                                </div>
                                {{else}}
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Monto del pago Recibido..." name="monto"required min="1" max="{{saldo}}" id="monto">
                                </div>
                                {{/ifEquals}}
                                <div class="form-group">
                                    <input type="text" class="form-control" value="{{codigo}}" name="codigop" hidden>
                                </div>

                            </div>
                        </div>                                            
                        <hr>
                        <div class="form-group ">
                            <input type="submit" class="btn btn-primary btn-lg bg-gradient-primary" value="Registrar Pago">
                                {{!-- <a class="btn btn-primary btn-lg bg-gradient-primary" href="/factura">Generar Factura</a> --}}
                        </div>
                    </form>
                </div>              
            </div>
        {{> footer}}   
        </div>
    </div>
    
    {{> modalSalir}}   
{{> scripts}} 
</body>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {{#if alert}}
        <script>
        Swal.fire({
            title: '{{alertTitle}}',
            text: '{{alertMessage}}',
            icon: '{{icon}}',
            showConfirmButton: '{{showConfirmButton}}',
            timer: '{{timer}}'
        }).then(()=>{
            window.location = '/{{ruta}}'
        })
    </script>
    {{/if}}
</html>