{{> header }}
<style>

.box {
      
  padding: 6px;
  border: none;
  font-size: 15px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}




</style>
<body id="page-top">
    <div id="wrapper">
        {{#ifEquals tipo "2"}} {{> sidebarEmpleado}} {{/ifEquals}} {{#ifEquals tipo "1"}} {{> sidebarAdmin}} {{/ifEquals}}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                {{> topbar}}
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <form action="/nuevoPedido" method="post">
                    <h1 class="h3 mb-4 text-gray-800">Registro del Pedido <button type="submit" class="btn btn-primary">Nuevo Pedido</button></h1>
                    
                        <input type="text" name="nuevo" value="nuevo" style="display: none;">
                        
                    </form>
                    {{#if nuevoP}}
                    <form action="/buscarcli" method="POST">
                        <div class="row">
                            <div class="col-6">
                                <div class="input-group">
                                    <div class="form-outline">
                                        <input type="search" class="form-control" required maxlength="10" minlength="10" name="cedula" placeholder="Cédula Cliente..." />
                                    </div>
                                    <button type="submit" class="btn btn-primary">
                                            <i class="fas fa-search"></i>
                                        </button>
                                        &nbsp; &nbsp; &nbsp;
                                    <a href="/cliente" class="btn btn-primary">Nuevo Cliente</a>    
                                </div>
                            </div>
                        </div>
                    </form>
                    <hr> {{#if cliente}}
                    <div class="row">
                        <div class="col-5">

                            <div class="card border-left-info shadow h-100">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Datos del cliente:
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <p>Cédula: {{cliente.cedula_cli}} </p>
                                                    <p>Nombre: {{cliente.nombre_cli}} </p>
                                                    <p>Edad: {{cliente.edad}}</p>
                                                    <p>Teléfono: {{cliente.tlf}}</p>
                                                    <p>Medio de Compra: {{cliente.medio_compra}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-7">

                            <form action="/addprod" class="text-center" method="POST">
                                <div class="row">
                                    <div class="col-12 py-3">
                                            <select class="box" name="producto" id="rol" required>
                                                <option selected value="">Producto...</option>
                                                {{#each prod}}
                                                {{#if this.visible}}
                                                {{#if (ne this.stock 0)}}
                                                {{#ifEquals this.id_cat "1"}}
                                                <option value={{this.cod_prod}}>{{this.nombre_prod}}   -Talla:{{this.talla}}  -Color:{{this.color}} </option>
                                                {{else}}
                                                <option value={{this.cod_prod}}>{{this.nombre_prod}}</option>
                                                {{/ifEquals}}
                                                {{/if}}
                                                {{/if}}
                                                {{/each}}
                                                
                                             </select>
                                            
                                             <input type="number" class="box" placeholder="Cantidad" name="cantidad" required min="1" max="10">
                                             <button type="submit" class="btn-primary"><i class="fas fa-plus"> Añadir</i></button>
                                            
                                            
                                    </div>


                                </div>
                            </form>
                            <div class="topbar-divider d-none d-sm-block"></div>
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Resumen del Pedido</h6>
                                </div>
                                <div class="card-body text-center">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Nombre Producto</th>
                                                    <th class="text-center">Cantidad</th>
                                                    <th class="text-center">Total Producto</th>
                                                    <th class="text-center">Subtotal</th>
                                                    <th class="text-center">Opción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each productos}}
                                                <tr>
                                                    <th class="text-center">{{this.nombreProd}}</th>
                                                    <th class="text-center">{{this.cant}}</th>
                                                    <th class="text-center">{{this.total}}</th>
                                                    <th class="text-center">{{this.subtotal}}</th>
                                                    <th class="text-center"><form action="/quitarProd" method="post"><input type="text" name="quitar" value="{{this.codigoProd}}" style="display:none;"><button type="submit" class="btn btn-danger btn-sm">quitar</button></form></th>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                    
                                    {{#if productos}}
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#modalPedido">Hacer Pedido</button>
                                    {{/if}}
                                    
                                </div>
                            </div>



                        </div>
                    </div>
                    {{/if}} {{/if}}


                </div>
            </div>


            {{> footer}}
        </div>
    </div>
    {{> modalSalir}}
    {{> modalPedido}}
    <!-- Bootstrap core JavaScript-->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="assets/js/sb-admin-2.min.js"></script>


</body>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{{#if alert}}
<script>
    Swal.fire({
        title: '{{alertTitle}}',
        text: '{{alertMessage}}',
        icon: '{{icon}}',
        showConfirmButton: '{{showConfirmButton}}',
        timer: '{{timer}}'
    });
</script>
{{/if}}

</html>