{{> header }}
<body id="page-top">
    <div id="wrapper">
        {{> sidebarAdmin}}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                {{> topbar}}
                <div class="container-fluid">
                <!-- Page Heading -->
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Tabla de Usuarios</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Id Usuario</th>
                                            <th class="text-center">Tipo Usuario</th>
                                            <th class="text-center">Nombre</th>
                                            <th class="text-center">Email</th>
                                            <th class="text-center">Modificar</th>
                                            <th class="text-center">Eliminar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        {{#each users}}
                                        <tr>
                                            <th class="text-center">{{this.id_empleado}}</th>
                                            <th class="text-center">{{this.nombre_tipo}}</th>
                                            <th class="text-center">{{this.nombre}}</th>
                                            <th class="text-center">{{this.email}}</th>
                                            <th class="text-center"><a href="/editUser/{{this.id_empleado}}" class="btn btn-primary btn-circle"><i class="fas fa-edit"></a></i></th>
                                            <th class="text-center"><a href="/deleteUser/{{this.id_empleado}}" class="btn btn-danger btn-circle"><i class="fas fa-trash"></i>
                                    </a></th>
                                        </tr>
                                        {{/each}}
                                        

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


            </div>
            </div>

            
        {{> footer}}   
        </div>
    </div>

    {{> modalSalir}}   
    
{{> scripts}} 

</body>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {{#if alert}}
        <script>
        Swal.fire({
            title: '{{alertTitle}}',
            text: '{{alertMessage}}',
            icon: '{{icon}}',
            showConfirmButton: '{{showConfirmButton}}',
            timer: '{{timer}}'
        }).then(()=>{
            window.location = '/{{ruta}}'
        })
    </script>
    {{/if}}
</html>

