{{> header }}
<body id="page-top">
    <div id="wrapper">
        {{> sidebarRepartidor}}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                {{> topbar}}
                <div class="container-fluid">
                <!-- Page Heading -->
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Tus Ganancias por tus pedidos</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Código Pedido</th>                    
                                            <th class="text-center">Fecha de Entrega</th>
                                            <th class="text-center">Ganancia</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each ganancias}}
                                        <tr>
                                            <th class="text-center">{{this.cod_pedido}}</th>
                                            <th class="text-center">{{this.fecha}}</th>
                                            <th class="text-center">{{this.ganancia}}</th>
                                        </tr>
                                        {{/each}}
                                                                              
                                    </tbody>
                                </table>
                            </div>
                            <h5 class="m-0 font-weight-bold text-primary">Ganancias del Día: ${{suma_dia}}</h5>
                            <h5 class="m-0 font-weight-bold text-primary">Ganancias Totales: ${{suma}}</h5>
                        </div>
                    </div>


                     

            </div>
            </div>

            
        {{> footer}}   
        </div>
    </div>

    {{> modalSalir}}   
    
{{> scripts}} 

</body>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {{#if alert}}
        <script>
        Swal.fire({
            title: '{{alertTitle}}',
            text: '{{alertMessage}}',
            icon: '{{icon}}',
            showConfirmButton: '{{showConfirmButton}}',
            timer: '{{timer}}'
        }).then(()=>{
            window.location = '/{{ruta}}'
        })
    </script>
    {{/if}}
</html>

