{{> header }}
<body id="page-top">
    <div id="wrapper">
        {{> sidebarAdmin}}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                {{> topbar}}
                <div class="container-fluid">
                <!-- Page Heading -->
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Repartidores y sus Ganancias</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>                  
                                            <th class="text-center">Nombre del Repartidor</th>
                                            <th class="text-center">Email</th>
                                            <th class="text-center">Fecha</th>
                                            <th class="text-center">Ganancia Total del Día</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each repartidores}}
                                        <tr>
                                            <th class="text-center">{{this.nombre}}</th>
                                            <th class="text-center">{{this.email}}</th>
                                            <th class="text-center">{{this.fecha}}</th>
                                            <th class="text-center">{{this.ganancia_total}}</th>
                                        </tr>
                                        {{/each}}
                                                                              
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>                  
            </div>
            </div>

            
        {{> footer}}   
        </div>
    </div>

    {{> modalSalir}}   
        {{> scripts}}  


</body>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {{#if alert}}
        <script>
        Swal.fire({
            title: '{{alertTitle}}',
            text: '{{alertMessage}}',
            icon: '{{icon}}',
            showConfirmButton: '{{showConfirmButton}}',
            timer: '{{timer}}'
        }).then(()=>{
            window.location = '/{{ruta}}'
        })
    </script>
    {{/if}}
</html>

